
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Multimedia/Branding/isotype.svg">
    <title>Funko Shop</title>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/pages/account.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header')%>
    <main>

        <div class="account_paragraph">
            <h1> Mi cuenta </h1>
        </div>

        <section class="account_content">

            <aside class="account_sidebar">
                <a href="/user/products" class="sidebar-link">Mis productos</a>
                <a href="/user/add" class="sidebar-link">Agregar productos</a>
            </aside>
        
            <section class="account_details">
                <div class="user_details">
                    <h2>Datos de mi cuenta</h2>
                    <p>Nombre: <%= user.first_name %> <%= user.last_name %></p>
                    <p>Edad: <%= user.age %> años</p>
                    <p>Email: <%= user.email %></p>
                </div>

                <div>
                    <a href="/auth/logout" class="logout-button">Cerrar sesión</a>
                </div>
            </section>

        </section>

    </main>
    <%- include('../partials/footer')%>

</body>

</html>