
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../Multimedia/Branding/isotype.svg">
    <title>Funko Shop</title>
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/pages/item.css">
</head>

<body>

    <%- include('../partials/header')%>
    <main>
        <section class="item">
            <div>
                <img src="<%= character.image %>" alt="<%= character.name %>">
            </div>

            <div>
                <div class="item_details">
                    <span><%= character.category %></span>
                    <h2><%= character.name %></h2>
                    <p><%= character.description %></p>
                </div>

                <div class="item_price">
                    <p>$<%= character.price %></p>
                    <div>
                        <button> Agregar al Carrito </button>
                    </div>
                </div>

                <div class="payment_methods">
                    <a href="/"> Ver métodos de pago </a>
                    <span> - </span>
                    <span> 3 CUOTAS SIN INTERÉS</span>
                </div>
            </div>
        </section>
        
        <section class="item_carousel">
            Productor seleccionados

            [Aca va el carrouser de productos]
        </section>
    </main>
    <%- include('../partials/footer')%>

</body>

</html>