
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Multimedia/Branding/isotype.svg">
    <title>Funko Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/pages/item.css">
    <link rel="stylesheet" href="/CSS/partials/carousel.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header')%>
    <main>
        <section class="item">
            <div>
                <img src="<%= character.primary_image %>" alt="<%= character.name %>">
            </div>

            <div class="item_description">
                <div class="item_details">
                    <span><%= character.brand_name %></span>
                    <h2><%= character.name %></h2>
                    <p><%= character.description %></p>
                </div>

                <div class="item_price">
                    <p>$<%= character.price %></p>
                    <div>
                        <button> Agregar al Carrito </button>
                    </div>
                </div>

                <div class="payment_methods">
                    <a href="/"> Ver métodos de pago -</a>
                    <span> <%= character.payments %></span>
                </div>
            </div>
        </section>
        
        <% if (carousel_products && carousel_products.length > 0) { %>
            <section class="carousel_conteiner">
                <h2 class="carousel_title">Productos relacionados</h2>
                <div class="carousel">
                    <%- include('../partials/carousel')%>
                </div>
            </section>
        <% } %>

    <script type="module" src="/Javascript/widgets/carousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    </main>
    <%- include('../partials/footer')%>

</body>

</html>
