
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Multimedia/Branding/isotype.svg">
  <title>Funko Shop</title>
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/pages/shop.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header')%>
  <main>
    
    <div class="shop_conteiner">

      <aside class="shop_sidebar">
        <form action="/shop" method="GET" id="shop_filters">

          <div class="shop_search">
            <label for="search">BUSCAR:</label>
            <input type="text" id="items_search" name="search" value="<%= search %>">
          </div>
          
          <div class="shop_order">
            <label for="sort">ORDENAR POR:</label>
            <select id="items_sort" name="sort">
              <option value=""></option>
              <option value="precio_asc" <%= sort==='precio_asc'? 'selected' : '' %>>Menor precio</option>
              <option value="precio_desc" <%= sort==='precio_desc'? 'selected' : '' %>>Mayor precio</option>
            </select>
          </div>
          
          <div class="shop_price">
            <div class="price_inputs">
              <span>MIN</span>
              <input type="number" id="min-price" name="min_price" min="0">
              <span>-</span>
              <span>MAX</span>
              <input type="number" id="max-price" name="max_price" min="0">
            </div>
          </div>
          
          <div class="shop_submit">
            <button type="submit" class="submit_btn">Aplicar Filtros</button>
          </div>
        </form>
      </aside>
    
      <div class="shop_items" id="products">

        <% if (characters.length === 0) { %>
          <p>No se encontraron productos.</p>
        <% } else { %>

          <% characters.forEach(c => { %>
            <a class="product_item" href="/shop/item/<%= c.id %>">
              <figure>
                <img src="<%= c.primary_image %>" alt="<%= c.name %>">
              </figure>
              <div class="product_description">
                <span><%= c.brand_name %></span>
                <h2><%= c.name %></h2>
                <p><%= c.price %></p>
                <div class="payment_methods">
                  <span><%= c.payments %></span>
                </div>
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>

    <script src="../Javascript/shop.js"></script>
    <script src="../Javascript/widgets/tooltip.js"></script>
      
  </main>
  <%- include('../partials/footer')%>
    
  </body>
  
  </html>