
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../Multimedia/Branding/isotype.svg">
    <title>Funko Shop</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/pages/shop.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header')%>
    <main>

        <section class="shop_filter">
            <div>
                <p> BUSCAR </p>
            </div>
            <div>
                <p> ORDENAR POR </p>
            </div>
            <div>
                <p> PRECIO </p>
            </div>
            <div>
                <p> FILTRAR </p>
            </div>
        </section>

        <div class="shop_items">
            <% characters.forEach(character => { %>
              <a class="product_item" href="/shop/item/<%= character.id %>">
                <figure>
                  <img src="<%= character.image %>" alt="<%= character.name %>">
                </figure>
                <div class="product_description">
                  <span><%= character.brand %></span>
                  <h2><%= character.name %></h2>
                  <p><%= character.price %></p>
                  <div class="payment_methods">
                    <span><%= character.payments %></span>
                </div>
                </div>
              </a>
            <% }); %>
          </div>
        
    </main>
    <%- include('../partials/footer')%>
    
</body>

</html>