
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/Multimedia/Branding/isotype.svg">
  <title>Funko Shop</title>
  <link rel="stylesheet" href="/CSS/index.css">
  <link rel="stylesheet" href="/CSS/pages/shop.css">
  <link rel="stylesheet" href="/CSS/partials/sidebar.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header')%>
  <main>
    
    <div class="shop_conteiner">
      <aside class="shop_sidebar">
        <%- include('../partials/sidebar') %>
      </aside> 

      <div class="shop_items" id="products">
        <% if (characters.length === 0) { %>
          <p>No se encontraron productos.</p>
        <% } else { %>

          <% characters.forEach(character => { %>
            <a class="product_item" href="/shop/item/<%= character.id %>">
              <figure class="image_container">
                  <img src="<%= character.primary_image %>" alt="<%= character.name %>" class="primary_image">
                  <img src="<%= character.secondary_image %>" alt="<%= character.name %> - alternate" class="secondary_image">
              </figure>
              <div class="product_description">
                <span><%= character.brand_name %></span>
                <h2><%= character.name %></h2>
                <p><%= character.price %></p>
                <div class="payment_methods">
                  <span><%= character.payments %></span>
                </div>
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>

    <button id="filterToggle" class="filter_toggle">☰</button>
    <div id="mobileSidebar" class="mobile_sidebar">
      <%- include('../partials/sidebar') %>
    </div>

    <script src="../Javascript/shop.js"></script>
      
  </main>
  <%- include('../partials/footer')%>
    
  </body>
  
  </html>